body{
	background-color:#f3f3f6;
}
.btn{
	cursor: pointer;
	background-color: white;
    color: black;
    padding: 5px;
    border: 2px solid #6cb4b8;
    background-color: #6cb4b8; 
    margin: 5px;
}
.puzzlesArea{
	border: 1px solid #000000;
	width:480px;
	height: 480px;
}
.solved{
	z-index: 100;
	position: relative;
	top:-240px;
	text-align: center;
	font-size: 30px;
	color:#FFFFFF;
}
.droppable{
	background-color: #e3dcd5;
}
.draggable{
	cursor:pointer;
	border: 1px solid;
}


