<div ng-controller="GameOptionsController">
	<div class="blockTitle">Choose options for your game</div>
	<div class="textOptions">Choose picture</div>
	<div ng-repeat="pic in pics">
        <label>
            <input type="radio" class="radioBtn" ng-model="$parent.selectedImage" ng-value="pic" ng-checked="checkImage()" name="picture" /><img ng-src="{{pic}}" width="220px" /></label>
    </div>
    <label ng-style="{'font-size': '18px',
    'font-family': 'Open Sans, sans-serif'}">
            <input type="radio" class="radioBtn" ng-model="selectedImage" name="picture" />Upload your own picture <!-- <input type="file" name="file" id="file-field" ng-if="visibleUploader"/> --><div class="fileUpload" ng-if="visibleUploader">
                        <label>
                            <input type="file" onchange="angular.element(this).scope().uploadFile(this.files)" id="addfile">
                            <span>Choose file</span>
                        </label>
                        <div class="fileloaded"></div>
                    </div></label>
    <div class="textOptions">Amount of puzzles</div>
	<div ng-repeat="amount in optionsAmount">
        <label class="textOptions">
            <input type="radio" class="radioBtn" ng-model="$parent.selectedAmount" ng-value="amount" name="quantity" />{{amount}}</label>
    </div>
    <button class="btn" ng-click="start()">Start</button><br/>
    <canvas id="canvas"></canvas>
    <canvas id="canvasResize"></canvas>
</div>
  
